In [1]:
import dask.dataframe as dd

In [5]:
df = dd.read_parquet("yellow_tripdata_2023-01.parquet")

In [7]:
df = df.dropna(subset=["tpep_pickup_datetime", "tpep_dropoff_datetime", "trip_distance", "fare_amount"])
df = df[df.trip_distance > 0]
df = df[df.fare_amount > 0]

# Extract hour

In [9]:
df['hour'] = dd.to_datetime(df['tpep_pickup_datetime']).dt.hour

In [11]:
trip_count = df.groupby('hour').size().compute()
avg_fare = df.groupby('hour').fare_amount.mean().compute()
avg_distance = df.groupby('hour').trip_distance.mean().compute()

In [13]:
print("Trip Count by Hour:")
print(trip_count)

Trip Count by Hour:
hour
0      82723
1      58102
2      40715
3      26354
4      16816
5      17091
6      42508
7      84885
8     114479
9     128442
10    140715
11    151018
12    166249
13    174835
14    187495
15    192125
16    191473
17    205090
18    211550
19    188975
20    162326
21    158318
22    144309
23    111789
dtype: int64

In [15]:
print("\nAverage Fare by Hour:")
print(avg_fare)

Average Fare by Hour:
hour
0     19.840308
1     17.972205
2     16.966450
3     17.996856
4     22.518931
5     26.577386
6     22.218294
7     19.013237
8     17.536957
9     17.634248
10    17.713730
11    17.417086
12    17.764332
13    18.452733
14    19.720030
15    19.280019
16    19.528206
17    18.643625
18    17.014972
19    17.626386
20    17.997595
21    18.480446
22    19.405062
23    20.583633
Name: fare_amount, dtype: float64

In [17]:
print("\nAverage Distance by Hour:")
print(avg_distance)

Average Distance by Hour:
hour
0      4.093247
1      3.555088
2      3.266520
3      3.856137
4      4.988764
5     16.070995
6      5.547792
7      5.350360
8      5.616075
9      3.165728
10     3.132906
11     3.261081
12     3.178067
13     3.282241
14     3.608464
15     3.733171
16     3.520834
17     4.558827
18     4.019018
19     3.521689
20     3.506190
21     3.931719
22     3.885100
23     4.265217
Name: trip_distance, dtype: float64